* {
  font-family: verdana;
}

body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

p {
  font-size: 21px;
  color: gray;
}

.footer {
  text-align: right;
  color: gray;
}
